.App {
    display: flex;
    flex-direction: column;
    border: 3px;
    align-items: center;
    margin-top: 3rem;

}

.cellContainer {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(6, 55px);
    grid-template-rows: repeat(6, 55px);
    gap: 0px; 
  }

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}
