.App {
    display: flex;
    flex-direction: column;
    border: 3px;
    align-items: center;
    margin-top: 3rem;

}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    grid-template-rows: repeat(6, 90px);
    gap: 0px; 
    margin-top: 1rem;
  }

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}
